<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <!-- Main -->

    <div>
        <h1>Gesund</h1>
        <p>Create an Account</p>
        <p>Sign In</p>
    </div>
    

    <!-- Navigation Bar -->

    <div>
        <ul>
            <li>Plans</li>
            <li>Healthcare</li>
            <li>About Us</li>
        </ul>
    </div>
    

    <!-- Web Sections -->

    <div>
        <section>
            <h1>Section #1</h1>

            <p>Section Info #1</p>
        </section>
    </div>

    <div>
        <section>
            <h1>Section #2</h1>

            <p>Section Info #2</p>
        </section>
    </div>

    <div>
        <section>
            <h1>Section #3</h1>

            <p>Section Info #3</p>
        </section>
    </div>

    <div>
        <section>
            <h1>Section #4</h1>

            <p>Section Info #4</p>
        </section>
    </div>


    <!---->
</body>
</html>